<div class="container">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="email" class="form-control" name="firstName" [(ngModel)]="user.firstName"
        aria-describedby="emailHelp" placeholder="Enter email" required>

    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
     
      <select class="form-control" name="gender" [(ngModel)]="user.gender" >
        <option value="M" selected>Male</option>
        <option Value="F">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of Birth</label>
      <input type="text" placeholder="Date of Birth" name="dateOfBirth" [(ngModel)]="user.dateOfBirth"
        class="form-control" bsDatepicker>
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <input type="text" class="form-control" [(ngModel)]="user.department" name="department"
        placeholder="Department">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid || userForm.untouched">Register</button>
  </form>

</div>